*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
}
a{
    text-decoration: none;
}
li{
    list-style: none;

}
h1,h2{
   color: blueviolet; 
}
h3{
    color: #999;;
}
.side-menu{
    position: fixed;
    background:#d408fd;
    width: 20vw;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}
.side-menu .brand-name {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-menu li{
    font-size: 24px;
    padding: 10px;
    color: white;
    display: flex;
    align-items:center;
}
.side-menu li:hover{
    background: white;
    color:#d408fd;

}
.container{
    position:absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: transparent;
}
.container .header{
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height:10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
    z-index:1;
}
.container.header.nav{
    width: 90%;
    display: flex;
    align-items: center;
}
.container .header .nav .search{
    flex: 3;
    background: cornflowerblue;
}
.container .header .nav .search input[type=text]{
   border: none;
   background:#f1f1f1;
   padding: 10px;
   width: 50%;
}
.container .header .nav .search button{
    width: 40px;
    height: 40px;
    border: none;

}
.container .header .nav .user{
    flex: 1;
   display: flex;
   justify-content: space-between;
   align-items: center;

}
.btn{
    background-color: #d408fd;
    color: white;
    padding: 5px 10px;
    text-align: center;
    border-radius: 10px;

}
.btn:hover{
    color: #d408fd;
    background: white;
    padding: 3px 8px;
        border: 2px solid #d408fd;
}
.title{
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #999;

}
table{
    padding:10px;
}
th,td{
    text-align: left;
    padding: 8px;
}
.container .header .nav .user img{
    width: 40px;
    height: 40px;
}
.container .header .nav .user .img-case{
    position: relative;
    width: 50px;
    height: 50px;
}
.container .header .nav .user .img-case img{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
.container .content{
    position: relative;
    margin-top: 10vh;
    min-height: 90vh;
    background: #f1f1f1;
}
.container .content .cards{
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container .content .cards .card{
    width: 250px;
    height: 150px;
    border-radius: 10px;
    background: white;
    margin: 20px  10px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    box-shadow: 0 4px 8px 0 rgba(62, 5, 69, 0.17), 0 6px 20px 0 rgba(117, 5, 137, 0.19) ;
}
 .container .content .content-2{
    min-height:60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
 }
 .container .content .content-2 .recent-payments{
    min-height: 50vh;
    border-radius: 10px;
    flex: 5;
    background: white;
    margin: 25px 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(62, 5, 69, 0.17), 0 6px 20px 0 rgba(117, 5, 137, 0.19) ;
    display: flex;
    flex-direction: column;
 }
 .container .content .content-2 .new-user{
    flex: 5;
    background: white;
    border-radius: 10px;
    min-height: 50vh;
    margin: 0 25px;
    box-shadow: 0 4px 8px 0 rgba(62, 5, 69, 0.17), 0 6px 20px 0 rgba(117, 5, 137, 0.19) ;
 }
 
 @media screen and (max-width: 1050px) {
    .side-menu li {
        font-size: 18px;
    }
 }
 @media screen and (max-width: 940px) {
    .side-menu li span {
        display: none;
    }
    .side-menu{
        align-items: center;
    }
    .side-menu li  img{
        width: 40px;
        height: 40px;
    }
 }
 @media screen and (max-width: 536px) {
    .brand-name h1{
        font-size: 16px;
    }
    .container .content .cards{
        justify-content: center;

        
    }
    .brand-name li img{
        width: 10px;
        height: 10px;
        align-items: center
        ;

    }
    .side-menu li img{
        width: 30px;
        height: 30px;
    }
    .side-menu li:hover{
        background: #d408fd;
        padding: 8px 38px;
        border: 2px solid white;
    }
    .container .content .content-2  .recent-payments table th:nth-child(2),
    .container .content .content-2  .recent-payments table td:nth-child(2){
        display: none;
    }
    .container .content .content-2  .new-user table th:nth-child(2),
    .container .content .content-2  .new-user table td:nth-child(2){
        display: none;
    }
 }
 
 .modal-container {
    width: 100vw;
    height:100vh;
    position: relative;
    top: 20%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
    align-items: center;
    justify-content: center;
  }
  
  .modal {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
  }
  
  .modal label {
    font-size: 14px;
    width: 100%;
  }
  
  .modal input {
    width: 100%;
    outline: none;
    padding: 5px 10px; 
    width: 100%;
    margin-bottom: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  .modal button {
    width: 100%;
    margin: 10px auto;
    outline: none;
    border-radius: 20px; 
    padding: 5px 10px; 
    border: none;
    background-color:#d408fd;
    color: white;
  }
  
  .active {
    display: flex;
  }
  
  .active .modal {
    animation: modal .4s;
  }
  